body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 24px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label {
  width: 300px;
  margin: 1px;
  padding: 1px;
  font-weight: bold;
}
select,
input[type="text"],
input[type="tel"],
button {
  width: 300px;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}
button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}

.response {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e9ecef;
}
.autocomplete {
  position: relative;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
.autocomplete-items div:hover {
  background-color: #e9ecef;
}
